.attendance{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#attendancebtn{
    border-radius: 20px;
    width: 150px;
}

#attendancebtn:hover{
    background-color: lightgray;
}